Welcome {{ ansible_hostname }} to Ansible Automation
Server report
OS Details : {{ ansible_distribution }}
Free Memory: {{ ansible_memfree_mb }}
IP address: {{ ansible_default_ipv4.address }}
CPU Information: {{ ansible_processor_count }}
